<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="true">
        <ion-option value="bacon">Bacon</ion-option>
        <ion-option value="olives">Black Olives</ion-option>
        <ion-option value="cheese">Extra Cheese</ion-option>
        <ion-option value="Mushrooms">Mushrooms</ion-option>
        <ion-option value="Pepperoni">Pepperoni</ion-option>
        <ion-option value="Sausage">Sausage</ion-option>
      </ion-select>
    </ion-item>
  </ion-content>
</ion-view>
